$primaryColor: #eee;
$secondaryColor: #d40000;
$fontColor: #35373a;
$accent: #454a50;

$defaultFont: 'Lato', sans-serif;
$normalWeight: 300;
$boldWeight: 700;

$fontFamily: 'Roboto', sans-serif;
$regularWeight: 300;
$heavyWeight: 700;

$gutter: .5vw;