$primaryColor: #eee;
$secondaryColor: #d40000;
$fontColor: #35373a;
$accent: #2e3338;

$defaultFont: 'Lato', sans-serif;
$normalWeight: 300;
$boldWeight: 700;

$gutter: 2vw; //always based on the entire width of the view port, not parent element.