


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/


/*----------- MAIN --------------*/

div#myCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    max-width: 65em;
}

/*----------- FOOTER --------------*/
