/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {

    nav {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#17375b+0,4499ba+100 */
        background: #17375b; /* Old browsers */
        background: -moz-linear-gradient(top,  #17375b 0%, #4499ba 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #17375b 0%,#4499ba 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #17375b 0%,#4499ba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17375b', endColorstr='#4499ba',GradientType=0 ); /* IE6-9 */
    }

    nav button {
        display: none;
    }
    
    nav ul.hide {
        display: block;
    }
    
    nav ul li {
        float: left;
    }
    
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding: .8rem 1rem;
    }
    
    div.newsGrid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    span {
        font-size: 1rem;
    }
    
    .main {
        grid-column: 1 / span 3;
    }
    
    div.footerGrid {
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    
    } /*end medium */