.margin {
    margin-left: 72px;
}

.spacing {
    padding: 0px 105px 163px 105px;
}

html {
    margin: 0 auto;
}

/* <------------- Body styles here -----------------> */

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

    h2 {
        font-family: $mainFontFamily;
    }
    
    h3 {
        font-family: $mainFontFamily;
    }
    
    p {
        font-family: $secondaryFontFamily;
        line-height: 30px;
    }

    #column {
        width: 1280px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
       /*  background-color: aquamarine; */
    }

} /* End of body styles */


/* <------------- Header styles here -----------------> */

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding-right: 75px;

    #logoContainer {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        width: 50%;
        height: 100%;
        
    } /* End of logoContainer styles */

    #logo {
        width: 232px;
        height: 46.29px;
        margin-left: 95px;
    } /* End of logo styles */

} /* End of header styles */


/* <------------- Main styles here -----------------> */

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;


    #topLeft {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /* background-color: greenyellow; */
        text-align: left;
        align-items: flex-start;

        h2 {
            font-size: 48px;
            font-weight: 700;
        }
        
        p {
            width: 75%;
            color: $textColor;
            font-size: $smallFontSize;
            font-weight: 400;
        }
    }
}


.headerAndP {
    @include flex-Col-Center();
    height: 380px;
    text-align: center;
    align-items: center;

    #headerAndpH2 {
        font-size: $mediumHeaderFontSize;
        font-weight: 700;
    }

    #headerAndPara {
        font-size: $smallFontSize;
        font-weight: 400;
        color: $textColor;
        width: 55%;
    }
}


/* <------------- Img styles here -----------------> */

#mobileMarket {
    @include largeImgs();
}

#clientsHands {
    @include mediumImgs;
}

#womanPhone {
    /* width: 510px;
    height: 366px; */
    @include mediumImgs;
}

#campaignInsights {
    @include largeImgs();
}

#chatExpert {
    width: 551x;
    height: 490px;
}

/* .imgAndHeader {
    @include flex-Col-Center();
    justify-content: space-between;
}
 */


#imgAndHeaderLeft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    margin-right: 25px;

    h3 {
        font-size: $mediumHeaderFontSize;
    }
    
    p {
        font-size: $smallFontSize;
        color: $textColor;
    }
}

#imgAndHeaderRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    margin-left: 25px;

    h3 {
        font-size: $mediumHeaderFontSize;
    }
    
    p {
        font-size: $smallFontSize;
        font-weight: 400;
        color: $textColor;
    }
}

#bottomRight {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    align-items: flex-start;
    margin-left: 95px;
    padding: 85px 0 78px 0;

    h2 {
        font-size: 48px;
        font-weight: 700;
        width: 90%;
        height: 80px;
    }
    
    p {
        font-size: $smallFontSize;
        font-weight: 400;
        width: 80%;
        /* padding-bottom: 2rem; */
    }    
}


#bottomLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  /*   background-color: greenyellow; */
    text-align: center;
    align-items: center;
    padding: 65px 0 65px 0;
    /* padding: 145px 0 130px 0; */
    /* margin: 145px 0 130px 0; */

    h2 {
        font-size: 42px;
        color: #FFFFFF;
    }
    
    p {
        font-size: $smallFontSize;
        width: 68%;
        color: #FFFFFF;
    }
}

/* <------------- Footer styles here -----------------> */

footer {
    height: 490px;
    background-color: $mainColor;
    padding: 0 55px 0 55px;
}