header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/
#headerWrapper {
        background-image: url(/DGM2740/04_National_Park/images/header-larage.jpg);
        height: 400px;
        background-size: cover;
        background-position: center;
    }
    


/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
main {
        .card {
            flex-basis: 23%;
        }
    }


/*----------- FOOTER --------------*/
    
