$primaryColor: #2c2e61;           /* all variables start with a $ in scss */

$secondaryColor: #13072F;

$textColor: #74CBDF;

$fontFamily: 'Roboto', sans-serif;

$regularWeight: 400;

$heavyWeight: 700;

$gutter: 2%;
